.App{
    width: 40%;
    margin: 2em auto;
    background-color: #394049;
    border-radius: 5px;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.titleList{
    margin: 0 auto;
    border-bottom: 2px solid #b8e809;
    margin-top: 1em;
}

